<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WBM</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/create">Create </a></li>
        <li><a href="/search"><span class="glyphicon glyphicon-search"></span> Search </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Generate <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/generate/meterreading">Generate Meter Reading</a></li>
            <li><a href="/generate/bill">Generate Bill</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
 	</ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

</body>
</html>