<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>

</head>
<body>
	<div class="container text-center" layout:fragment="content">
	
	<form class="form-inline" action="#" th:action="@{/generate/bill}" method="post">
		<div class="input-group date" data-provide="datepicker">
			<div class="input-group-addon">From</div>
		    <input type="text" class="form-control" name="fromdate" id="fromdate"></input>
		</div>
		<div class="input-group date" data-provide="datepicker">
			<div class="input-group-addon">To</div>
		    <input type="text" class="form-control" name="todate" id="todate"></input>
		</div>
		<button type="submit" class="btn btn-success">Generate Bill</button>
	</form>
	
   </div>
  
</body>
</html>