<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>

</head>
<body>
	<div layout:fragment="content">
	<form action="#" data-th-action="@{/search}" data-th-object="${model}" method="post">
	
	 <div class="form-group">
	 	
	 	<div class="col-md-4">
			<button class="btn-lg btn-success" type="submit" name="action" value="all">
				Find All Connections
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</div>
		
		<div class="col-md-4">
		</div>
		
	</div>
	
	</form>
	    
	</div>
</body>
</html>