<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>
</head>
<body>
	
	<div class="container" layout:fragment="content">
	  <div class="jumbotron">
	    <h1>Search Result</h1> 
	   </div>
	    
	    <table class="table table-bordered table-striped">
	     <thead>
	      <tr>
	      	<th>Sl No</th>
	      	<th>Connection ID</th>
	      	<th>Customer Name</th>
	      	<th>Connection Type</th>
	        <th>Created on</th>
	        <th>Mobile Number</th>
	        <th>LandLine Number</th>
	        <th>Ward Number</th>
	        <th>Patta Number</th>
	        <th>Address</th>
	      </tr>
	      </thead>
	      <tbody>
	      <tr th:each="cus,iterationStatus  : ${customers}">
	      	<td class="text-center" th:text="${iterationStatus.count}" />
	      	<td class="text-center" th:text="${cus.customerId}" />
	        <td><a th:href="${'/search/customer/'+cus.id}" th:text="${cus.firstName} + ' ' + ${cus.lastName}"></a></td>
	        <td th:text="${cus.connectionType.type}" />
	        <td class="text-center" th:text="${cus.creationDate}" />
	        <td class="text-center" th:text="${cus.mobileNumber}" />
	        <td class="text-center" th:text="${cus.landLineNumber}" />
	        <td class="text-center" th:text="${cus.wardNumber}" />
	        <td class="text-center" th:text="${cus.pattaNumber}" />
	        <td th:text="${cus.address}" />
	      </tr>
	      </tbody>
	    </table>
	    
	    <a href="/create" role="button" class="btn btn-lg btn-success">
	    	<span class="glyphicon glyphicon-plus"></span>
	    	Create Another
	    </a>
	  </div>
  </body>
</html>