<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>

</head>
<body>
	<div layout:fragment="content">
	<div class="container">
	
	<form class="form-horizontal" action="#" th:action="@{/search}" method="post">
		<div class="form-group">
		 <div class="col-md-4">
		  <div class="input-group">
			<input type="text" class="form-control input-md" name="lastname" id="lastname" placeholder="Last Name" />
			<span class="input-group-btn">
				<button type="submit" class="btn btn-success">Search</button>
			</span>
			</div>
		 </div>
		</div>
		<div class="form-group">
		 <div class="col-md-4">
		  <div class="input-group">
			<input type="text" class="form-control input-md" name="firstname" id="firstname" placeholder="First Name" />
			<span class="input-group-btn">
				<button type="submit" class="btn btn-success">Search</button>
			</span>
			</div>
		 </div>
		</div>
		<div class="form-group">
		 <div class="col-md-4">
		  <div class="input-group">
			<input type="text" class="form-control input-md" name="pattanumber" id="pattanumber" placeholder="Patta Number" />
			<span class="input-group-btn">
				<button type="submit" class="btn btn-success">Search</button>
			</span>
			</div>
		 </div>
		</div>
		<div class="form-group">
		 <div class="col-sm-4">
		  <div class="input-group">
			<select name="wardnumber" id="wardnumber" class="form-control">
		      <option value="1">1</option>
		      <option value="2">2</option>
		      <option value="3">3</option>
		      <option value="4">4</option>
		      <option value="5">5</option>
		      <option value="6">6</option>
		      <option value="7">7</option>
		      <option value="8">8</option>
		      <option value="9">9</option>
		      <option value="10">10</option>
		      <option value="11">11</option>
		      <option value="12">12</option>
		      <option value="13">13</option>
		    </select>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-success">Search</button>
			</span>
			</div>
		 </div>
		</div>
		<div class="form-group">
		 <div class="col-md-4">
		  <div class="input-group">
			<button class="btn-lg btn-success" type="submit" name="action" value="all">
				Find All Connections
				<span class="glyphicon glyphicon-search"></span>
			</button>
		  </div>
		 </div>
		</div>
	</form>
   </div>
  </div>
</body>
</html>